<form action="/movie/create" method="post">    
    <div>
        <fieldset>
            <legend>Create Movie</legend>
           
           {{#validation}}
                <h4 style="color:red">Validation Error</h4>
           {{/validation}}


            <div class="editor-label">
                <label for="title">Title</label>
            </div>
            <div class="editor-field">
                <input id="title" {{#validation.errors.title}}class="input-validation-error"{{/validation.errors.title}} name="title" type="text" {{#movie}}value="{{title}}"{{/movie}} />
                {{#validation}}<span style="color:red">{{errors.title.type}}</span>{{/validation}}
            </div>

            <div class="editor-label">
                <label for="releasedate">Release Date</label>
            </div>
            <div class="editor-field">
                <input id="releasedate" {{#validation.errors.releasedate}}class="input-validation-error"{{/validation.errors.releasedate}} name="releasedate" type="text" {{#movie}}value="{{releasedate}}"{{/movie}}/>
                {{#validation}}<span style="color:red">{{errors.releasedate.type}}</span>{{/validation}}
            </div>

            <div class="editor-label">
                <label for="genre">Genre</label>
            </div>
            <div class="editor-field">
                <input id="genre" {{#validation.errors.genre}}class="input-validation-error"{{/validation.errors.genre}} name="genre" type="text" {{#movie}}value="{{genre}}"{{/movie}} />
                {{#validation}}<span style="color:red">{{errors.genre.type}}</span>{{/validation}}

            </div>

            <div class="editor-label">
                <label for="price">Price</label>
            </div>
            <div class="editor-field">
                <input id="price" name="price" {{#validation.errors.price}}class="input-validation-error"{{/validation.errors.price}} type="text" {{#movie}}value="{{price}}"{{/movie}}/>
                  {{#validation}}<span style="color:red">{{errors.price.type}}</span>{{/validation}}
            </div>
            
            <div class="editor-label">
                <label for="rating">Rating</label>
            </div>
            <div class="editor-field">
                <input id="rating" name="rating" {{#validation.errors.rating}}class="input-validation-error"{{/validation.errors.rating}} type="text" {{#movie}}value="{{rating}}"{{/movie}} />
                  {{#validation}}<span style="color:red">{{errors.rating.type}}</span>{{/validation}}
                
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    </div>
</form>

<p>
    <a href="/movies">Back to List</a>
</p>

<script type="text/javascript">
  $(function() {
    $( "#releasedate" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
</script>